<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0 0 0 20px;
    font-family: Arial; font-size: 14px;">
        <tbody style="vertical-align: bottom;">
            <tr>
                <td style="padding: 20px 0 0 0; font-size: 22px; text-align: center;">
                    Новый лид на сайте:
                </td>
                <td style="padding: 20px 0 0 10px;">
                    <a href="{{site}}" style="color: #333333; font: 22px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;" target="_blank">{{site}}</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px 5px 5px 0; font-size: 16px; color: #111144">Город - {{city}}</td>
            </tr>
            <tr>
                <td style="padding: 0 0 20px 0; font-size: 16px; color: #777777">
                    от {{date}}
                </td>
            </tr>
            <tr>
                <td style="padding: 0 5px 5px 0;">
                    Клиент:
                </td style="padding: 10px;">
                <td style="padding: 0 5px 5px 0;">
                    {{name}}
                </td>
            </tr>
            <tr>
                <td style="padding: 0 5px 5px 0;">
                    Номер телефона:
                </td>
                <td style="padding: 0 5px 5px 0;">
                    {{phone}}
                </td>
            </tr>
            <tr>
                <td style="padding: 0 5px 5px 0;">
                    <a href="{{href}}" style="color: #333333; font: 14px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;" target="_blank">
                        Посмотреть в Matomo
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</HTML>

